---
interface Props {
  title: string;
  description: string;
  ogImage: { alt: string; height: number; url: string; width: number };
  twitterCard?: string;
}

const { title, description, ogImage, twitterCard } = Astro.props;
---

<title>{title}</title>
<meta name='description' content={description} />

<meta property='og:type' content={'website'} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={ogImage.url} />

<meta name='twitter:card' content={twitterCard ?? 'summary_large_image'} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
