---
import { Container, Headline, Hero, Icon, Text } from '$client/components';
import { EmailCaptureForm } from '$client/features';
import { DownloadIcon } from '$client/icons';
import { OfferLayout } from '$client/layouts';
import { xata } from '$server/shared';

const headline = 'Build intimacy with your partner';
const subheading =
  'Simple strategies to strengthen your relationship and deepen the connection';

const actionText = 'Give Me The Strategies';
const privacyStatement =
  'We care about your privacy. Divi9 Yoni uses the information you provide to contact you with relevant content. You may unsubscribe from these communications at any time.';

const offer = {
  id: '12345678',
  name: 'Test Offer',
  type: 'guide',
  url: 'https://drive.google.com/file/d/1JQLrzKGElo36De1M21UCQzllPHgE9XKt/view',
};

const {
  aggs: { totalCount: leadCount },
} = await xata.db.leads.aggregate({
  totalCount: {
    count: '*',
  },
});

const socialProofMessage = `${leadCount * 6} ${
  leadCount > 1 ? 'couples' : 'couple'
} downloaded these strategies`;
---

<OfferLayout title='Home'>
  <Hero>
    <Container>
      <div class='grid grid-cols-1 md:grid-cols-2 items-center gap-16'>
        <div class='flex flex-col gap-8'>
          <div class='flex flex-col gap-4'>
            <Headline>{headline}</Headline>
            <Text size='xl'>{subheading}</Text>
          </div>
          {
            !!leadCount && (
              <div class='flex gap-2'>
                <Icon icon={DownloadIcon} />
                <Text class='text-info-500'>{socialProofMessage}</Text>
              </div>
            )
          }
          <div class='max-w-md'>
            <EmailCaptureForm
              {actionText}
              {privacyStatement}
              {offer}
              client:idle
            />
          </div>
        </div>
        <div class='flex justify-center'>
          <img
            class='w-full md:w-auto rounded-lg'
            alt='Couple siting smiling'
            src='/uploads/offer-hero.webp'
            width={540}
            height={628}
          />
        </div>
      </div>
    </Container>
  </Hero>
</OfferLayout>
