---
import { Container, Headline, Hero, Icon, Text } from '$client/components';
import { EmailCaptureForm } from '$client/features';
import { FlameIcon } from '$client/icons';
import { OfferLayout } from '$client/layouts';
import { xata } from '$server/shared';

const headline = 'Build intimacy with your partner';
const subheading =
  'Simple strategies to strengthen your relationship and deepen the connection';

const actionText = 'Give Me The Strategies';
const privacyStatement =
  'We care about your privacy. Divi9 Yoni uses the information you provide to contact you with relevant content. You may unsubscribe from these communications at any time.';

const offer = {
  id: '12345678',
  name: 'Test Offer',
  type: 'guide',
  url: 'https://drive.google.com/file/d/1JQLrzKGElo36De1M21UCQzllPHgE9XKt/view',
};

const {
  aggs: { totalCount: leadCount },
} = await xata.db.leads.aggregate({
  totalCount: {
    count: '*',
  },
});

const timePeriods = {
  day: '24 hours',
  '7d': '7 days',
  '30d': '30 days',
};

const timePeriod = timePeriods['7d'];

const socialProofLabel = `${leadCount * 6} ${
  leadCount > 1 ? 'couples' : 'couple'
}`;

const socialProofMessage = `downloaded these strategies`;
---

<OfferLayout title='Home'>
  <Hero>
    <Container>
      <div class='grid grid-cols-1 md:grid-cols-2 items-center gap-16'>
        <div class='flex flex-col gap-8'>
          <div class='flex flex-col gap-4'>
            <Headline>{headline}</Headline>
            <Text size='xl'>{subheading}</Text>
          </div>
          {
            !!leadCount && (
              <div class='flex gap-2 shadow rounded-lg px-4 py-3'>
                <Icon class='text-error-500' icon={FlameIcon} />
                <div class='grid gap-1'>
                  <Text>
                    <span class='font-medium'>{socialProofLabel}</span>{' '}
                    <span class='text-gray-600 dark:text-gray-300'>
                      {socialProofMessage}
                    </span>
                  </Text>
                  <Text class='text-gray-600 dark:text-gray-300'>
                    in the last {timePeriod}
                  </Text>
                </div>
              </div>
            )
          }
          <div class='max-w-md'>
            <EmailCaptureForm
              {actionText}
              {privacyStatement}
              {offer}
              client:idle
            />
          </div>
        </div>
        <div class='flex justify-center'>
          <img
            class='w-full md:w-auto rounded-lg'
            alt='Couple siting smiling'
            src='/uploads/offer-hero.webp'
            width={540}
            height={628}
          />
        </div>
      </div>
    </Container>
  </Hero>
</OfferLayout>
