---
import { Container, Headline, Hero, Text } from '$client/components';
import { EmailCaptureForm } from '$client/features';
import { OfferLayout } from '$client/layouts';

const headline = 'Build intimacy with your partner';
const subheading =
  'Simple strategies to strengthen your relationship and deepen the connection';

const actionText = 'Give Me The Strategies';
const privacyStatement =
  'We care about your privacy. Divi9 Yoni uses the information you provide to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. View our Privacy Policy and Terms of Service.';

const offer = {
  id: '12345678',
  name: 'Test Offer',
  type: 'guide',
  url: 'https://drive.google.com/file/d/1JQLrzKGElo36De1M21UCQzllPHgE9XKt/view',
};
---

<OfferLayout title='Home'>
  <Hero>
    <Container>
      <div class='grid grid-cols-1 md:grid-cols-2 items-center gap-16'>
        <div class='flex flex-col gap-8'>
          <div class='flex flex-col gap-4'>
            <Headline>{headline}</Headline>
            <Text size='xl'>{subheading}</Text>
          </div>
          <div class='max-w-md'>
            <EmailCaptureForm
              {actionText}
              {privacyStatement}
              {offer}
              client:idle
            />
          </div>
        </div>
        <div class='flex justify-center'>
          <img
            class='w-full md:w-auto rounded-lg'
            alt='Couple siting smiling'
            src='/uploads/offer-hero.webp'
            width={540}
            height={628}
          />
        </div>
      </div>
    </Container>
  </Hero>
</OfferLayout>
